*{
  font-family: Avenir, Helvetica, Arial, Sans-Serif;
}

*:focus{
  outline:none;
}

@font-face {
    font-family: Avenir;
    src: url('/font/AvenirLT-Roman.eot')format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Avenir;
    src: url('font/AvenirLT-Heavy.eot') format('embedded-opentype');
    font-weight:bold;
}

body{
  background: -webkit-linear-gradient(230deg, #0E0F18, #1B0025); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(230deg, #0E0F18, #1B0025); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(230deg, #0E0F18, #1B0025); /* For Firefox 3.6 to 15 */
  background: linear-gradient(230deg, #0E0F18, #1B0025); /* Standard syntax */
  font-family: Avenir, Helvetica, Arial, Sans-Serif;
  height:100%;
}

header{
  padding-top: 3em;
  display: table;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3em;
}

#logo{
  width:300px;
  height:80px;
  height:auto;
  display: block;
  margin: 0 auto;
  padding-bottom:1em;
  margin-bottom: 1.75em;
  border-bottom-width:0.5em;
  border-bottom-style:solid;
  border-bottom-color:rgba(0,0,0,0);
  transition: border-bottom-color 0.5s ease;
}
#logo:hover{
  width:300px;
  height:80px;
  height:auto;
  display: block;
  margin: 0 auto;
  padding-bottom:1em;
  margin-bottom: 1.75em;
  border-bottom-width:0.5em;
  border-bottom-style:solid;
  border-bottom-color:white;
}

header nav{
  padding-bottom:1em;
}
header nav ul {
  margin: 0 auto;
  padding: 0;
  display:table;
  list-style-type: none;
  text-align: center;
}

header nav ul li{
  padding: 0 2.25em;
  float:left;
}

header nav ul li p{
  padding-top:0.25em;
  padding-bottom:0.15em;
  margin:0;
  color:white;
  transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -webkit-transition: color .5s ease-in-out;

}

.error_message{
  margin:0 auto;
  text-align: center;
  display:none;
  color:red;
}

#drunk_nav{
  color:white;
  cursor: default;
  transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -webkit-transition: color .5s ease-in-out;
}

  #drunk_nav:hover{
    color:#f1c40f;
    transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -webkit-transition: color .5s ease-in-out;
  }

#sober_nav{
  color:white;
  cursor: default;
  transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -webkit-transition: color .5s ease-in-out;
}

  #sober_nav:hover{
    color:#D41C5B;

    transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -webkit-transition: color .5s ease-in-out;
  }

#high_nav{
  color:white;
  cursor: default;
  transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -webkit-transition: color .5s ease-in-out;
}

  #high_nav:hover{
    color:#01A98B;
    transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -webkit-transition: color .5s ease-in-out;
  }

#post_drunk{
  background:url(/img/post-drunk.png);
  border:none;
  width:25px;
  height:25px;
  margin:0 auto;
  background-repeat:no-repeat;
  opacity: 0.2;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

  #post_drunk:hover{
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
  }

#post_sober{
  background:url(/img/post-sober.png);
  border:none;
  width:25px;
  height:25px;
  margin:0 auto;
  background-repeat:no-repeat;
  opacity: 0.2;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

  #post_sober:hover{
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
  }

#post_high{
  background:url(/img/post-high.png);
  border:none;
  width:25px;
  height:25px;
  margin:0 auto;
  background-repeat:no-repeat;
  opacity: 0.2;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

  #post_high:hover{
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
  }

#show_sober {
  border:none;
  margin:0 auto;
  width:25px;
  height:25px;
  background:url(/img/show-sober.png);
  background-repeat:no-repeat;
  opacity: 0.2;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

  #show_sober:hover{
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
  }


#show_high {
  border:none;
  margin:0 auto;
  width:25px;
  height:25px;
  background:url(/img/show-high.png);
  background-repeat:no-repeat;
  opacity: 0.2;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

  #show_high:hover{
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
  }

#show_drunk {
  border:none;
  margin:0 auto;
  width:25px;
  height:25px;
  background:url(/img/show-drunk.png);
  background-repeat:no-repeat;
  opacity: 0.2;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

  #show_drunk:hover{
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
  }



.icon{
  width:40px;
  height:40px;
  padding:0;
  display:block;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.item{
  background-color:#E6E7E8;
  Box-sizing: Border-box;
  padding:1em;
  margin:0.5em;
  border-width:3px;
  border-style:solid;
  word-break:break-all;
  color:black !important;

}


  .item p{
    clear:both;
    padding:0;
    margin:0;
  }
  .item img{
    position:relative;
    width:100%;
    padding-top:5px;
    display:block;
  }

  .item .post_msg{
    clear:both;
    font-weight:bold;
    font-size:1.2em;
    width:100%;
    display:block;
    position:relative;
    word-break: break-all;
    color:black;
    float:left;
  }

  .item .post_vote{
    font-size:0.9em;
    color:#585858;
    font-weight:bold;

    float:left;
    clear:none;
  }

  .item .message_box{
    font-size:15px;
    resize:none;
    width:100%;
  }

  .post_comment input[type="submit"]{
    text-decoration:none;

    position: relative;
    float:right;
  }

  .drunk{
    border-color:#f1c40f;
  }

    .drunk .vote input[type="submit"] {
      border:none;
      height:35px;
      width:35px;
      background:url(/img/upvote-drunk.png);
      background-repeat:no-repeat;
      float:left;
    }

  .sober{
    border-color:#D41C5B;
    color:#D41C5B;
  }

    .sober .vote input[type="submit"] {
      border:none;
      height:35px;
      width:35px;
      background:url(/img/upvote-sober.png);
      background-repeat:no-repeat;
      float:left;
    }

  .high{
    border-color:#01A98B;
  }

    .high .vote input[type="submit"] {
      border:none;
      height:35px;
      width:35px;
      background:url(/img/upvote-high.png);
      background-repeat:no-repeat;
      float:left;
    }

.col-centered{
  float:none;
  margin:0 auto;
  padding:0 !important;
}

.center_wrap{
  width:90%;
  max-width:550px;
  clear:both;
  display:none;
  position:relative;
  text-align: center;
  margin: 0 auto;
  background:none;
  border-width:3px;
  border-style:solid;
  padding:10px;
}

.post_box textarea{
  width:100%;
  height:87px;
  resize:none;
  background:none;
  border:none;
  color: white;
  font-size:1.25em;
}

textarea ::-webkit-scrollbar {
      width: 1px;
} /* this targets the default scrollbar (compulsory) */

textarea ::-webkit-scrollbar-track {
      background-color: rgba(255, 255, 255, 0.1);
} /* the new scrollbar will have a flat appearance with the set background color */

textarea ::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.1);
} /* this will style the thumb, ignoring the track */

textarea ::-webkit-scrollbar-button {
      background-color: rgba(255, 255, 255, 0.3);
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

textarea ::-webkit-scrollbar-corner {
      background-color: rgba(255, 255, 255, 0.1);
}

.post_box input[type="submit"] {
  float:right;
  top:-5px;
  color:white;
  padding:2px 6px 2px 6px;
  display:block;
  border:2px solid white;
  background: none;
  position: relative;
}

.post_box input[type="submit"]:active {
  background-color: white;
  color:black;
}

.post_box input[type="file"]{

  top:5px;
  color:white;
}

.post_box button{
  border:2px solid white;
}


footer{
  width:100%;
  position: relevant;
  left:0px;
  bottom:0px;
  margin-top:100px;

}
.addthis_native_toolbox{
  padding: 4em 0 2em 0;
  display: table;
  margin:0 auto;
  text-align: center;
  clear:both;
}

.hide_drunk .drunk{
  display:none;
}

.hide_sober .sober{
  display:none;
}

.hide_high .high{
  display:none;
}

.container {
  margin-top:50px;
}

.display_none{
  display:none;
}

.wrapper{
  margin:0 50px;
}
@media only screen
and (max-width : 979px) {
  .wrapper{
    margin:0;
  }

}
