<!DOCTYPE html>
<html lang="en">

<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/masonry.pkgd.min.js"></script>
  <title>Cruncbox</title>
</head>

<body>

  <header>
    <p>
      <a href="/">
        <img id="logo" src="/img/logo.png">
      </a>
    </p>
    <nav>
      <ul>
        <li>
          <form method="get" action="/drunk">
            <input id="show_drunk" type="submit" value="">
          </form>
          <img class="icon" src="/img/drunk.png">
          <p id="drunk_nav">DRUNK</p>
          <form method="get" action="/posts/drunk/new">
            <input id="post_drunk" type="submit" value="">
            <input type="hidden" name="status" value="drunk">
          </form>
        </li>

        <li>
          <form method="get" action="/sober">
            <input id="show_sober" type="submit" value="">
          </form>
          <img class="icon" src="/img/sober.png">
          <p id="sober_nav">SOBER</p>

          <form method="get" action="/posts/sober/new">
            <input id="post_sober" type="submit" value="">
            <input type="hidden" name="status" value="sober">
          </form>
        </li>

        <li>
          <form method="get" action="/high">
            <input id="show_high" type="submit" value="">
          </form>
          <img class="icon" src="/img/high.png">
          <p id="high_nav">HIGH</p>
          <form method="get" action="/posts/high/new">
            <input id="post_high" type="submit" value="">
            <input type="hidden" name="status" value="high">
          </form>
        </li>

      </ul>
    </nav>
  </header>

  <div class="container">
    <div class="row">

        <%=yield%>

    </div>
  </div>

  <footer>
    <div class="addthis_native_toolbox">
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53da6ada22298d73"></script>
  </footer>

<script>
$('textarea').keypress(function(event) {
if ((event.keyCode || event.which) == 13) {
    event.preventDefault();;
    return false;
  }
});
$('textarea').keyup(function() {
  var keyed = $(this).val().replace(/\n/g, '<br/>');

  $(this).html(keyed);

});
</script>

<script>
  var container = document.querySelector('.grid');
  var msnry = new Masonry( container, {
  });
</script>

</body>

</html>
