<!DOCTYPE html>
<html lang="en">

<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->

  <!-- Latest compiled and minified JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/masonry.pkgd.min.js"></script>
  <script src="/javascript/handlebars-v1.3.0.js"></script>
  <script type="text/javascript" src="/javascript/vendor/swfupload/swfupload.js"></script>
  <script type="text/javascript" src="/javascript/src/jquery.swfupload.js"></script>
  <title>Cruncbox</title>
</head>

<body id="gradient">

  <div class="wrapper">


    <header>
      <p>
        <a href = "/">
          <img id="logo" src="/img/logo.png">
        </a>
      </p>
      <nav>
        <ul>
          <li>

            <input id="show_drunk" type="submit" value="">

            <img class="icon" src="/img/drunk.png">
            <p id="drunk_nav">DRUNK</p>
            <!-- <form method="get" action="/posts/drunk/new"> -->
              <input id="post_drunk" type="submit" value="">
              <input type="hidden" name="status" value="drunk">
            <!-- </form> -->
          </li>

          <li>
            <input id="show_sober" type="submit" value="">
            <img class="icon" src="/img/sober.png">
            <p id="sober_nav">SOBER</p>

            <!-- <form method="get" action="/posts/sober/new"> -->
              <input id="post_sober" type="submit" value="">
              <input type="hidden" name="status" value="sober">
            <!-- </form> -->
          </li>

          <li>
            <input id="show_high" type="submit" value="">
            <img class="icon" src="/img/high.png">
            <p id="high_nav">HIGH</p>
            <!-- <form method="get" action="/posts/high/new"> -->
              <input id="post_high" type="submit" value="">
              <input type="hidden" name="status" value="high">
            <!-- </form> -->
          </li>

        </ul>
      </nav>
    </header>


    <section id= "post_boxes">
      <h3 class="error_message"></h3>

      <div class="center_wrap drunk ">
        <form class= "post_box"  method="post" action="/posts" enctype="multipart/form-data" >
          <textarea type="text" name="content" value="" maxlength="144"></textarea>
          <input type="hidden" name="status" value="drunk">
          <input type="file" name="uploaded_file" id="uploaded_file">
          <input type="submit" value="SUBMIT" id="sub">
        </form>
      </div>



      <div class="center_wrap sober ">
        <form class= "post_box"  method="post" action="/posts" enctype="multipart/form-data">
          <textarea type="text" name="content" value="" maxlength="144"></textarea>
          <input type="hidden" name="status" value="sober">
          <input type="file" name="uploaded_file" id="uploaded_file">
          <input type="submit" value="SUBMIT" >
        </form>
      </div>


      <div class="center_wrap high ">
        <form class= "post_box" method="post" action="/posts" enctype="multipart/form-data">
          <textarea type="text" name="content" value="" maxlength="144"></textarea>
          <input type="hidden" name="status" value="high">
          <input type="file" name="uploaded_file" id="uploaded_file">
          <input type="submit" value="SUBMIT" >
        </form>
      </div>
    </section>





    <div class="container">
      <div class="row">
        <div class="grid">
          <%=yield%>
        </div>
      </div>
    </div>



  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53da6ada22298d73"></script>







  <script src="/javascript/application.js"></script>
  <script src="/javascript/gradient.js"></script>
  </div>




</body>

</html>
